.footer {
  background-color: $color-black;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    padding: 44px 15px 48px;
  }
}

.footer__container {
  padding: 40px 103px 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $vp-1199) {
    padding: 40px 40px 42px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
    display: block;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
}

.footer__logo {
  display: block;
  margin-top: 10px;

  @media (max-width: $vp-1199) {
    padding-right: 10px;
    margin-top: 7px;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.footer__logo img {
  @media (max-width: $vp-1199) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 15px;
  }
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-top: 4px;

  &--first {
    margin-left: 9px;
  }

  @media (max-width: $vp-1199) {
    margin-top: 6px;
    align-items: center;
    max-width: 600px;

    &--first {
      margin-left: 0;
    }
  }

  @media (max-width: $vp-767) {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 0;
  }
}

.footer__nav-item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $vp-1199) {
    margin-right: 30px;
    padding-bottom: 0;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 16px;
    grid-column: 2/3;

    &--services {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &--membership {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &--offer {
      grid-row: 1/2;
    }

    &--coach {
      grid-row: 2/3;
    }
  }
}

.footer__nav-item a {
  display: inline-block;
  vertical-align: middle;
  color: $color-default-white;

  font-size: 14px;
  line-height: 16px;
  padding-bottom: 3px;

  &:hover {
    color: $color-red-line;
  }

  &:focus {
    color: $color-red-line;
    outline: none;
  }

  @media (max-width: $vp-1199) {
    padding-bottom: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: -2px;
  }
}
