.nojs.tabs__block {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: $vp-1199) {
    &--active {
      flex-direction: column;
    }
  }
}

.nojs .slider__line.swiper-wrapper,
.nojs .carousel__track.swiper-wrapper {
  width: auto;
  height: auto;
  flex-direction: row;
  gap: 39px;
  flex-wrap: wrap;
}

.nojs .slider__item.swiper-slide {
  width: auto;
  height: auto;
}

.nojs .slider__img {
  width: auto;
}

.nojs .carousel__item.swiper-slide {
  height: auto;
}
